<h2><%= @test.title %></h2>
<h3>level: <%= @test.level %></h3>

<%= link_to 'Create new question for this test', new_test_question_url(@test) %>

<table>
  <thead>
    <th>Question</th>
    <th colspan="3">Actions</th>
  </thead>

  <%= render @questions %>

  <%= link_to 'Back', tests_url %>

</table>  