<div class="card ml-2 mb-2" style="width: 18rem;">
  <img src="<%= @badge.image_path %>" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title"><%= @badge.title %></h5>
    <p class="card-text"><%= @badge.description %></p>
  </div>
</div>
<%= link_to 'Edit', edit_admin_badge_path(@badge) %> |
<%= link_to 'Back', admin_badges_path %>
