<% if @test_passage.current_question.nil? %>
  <h1>Test <%= @test_passage.test.title %> complite!</h1>
  <h3>Your result is <%= color_result(@test_passage) %></h3>
  <h3><%= passage_message(@test_passage) %></h3>
<% else %>
  <h1>Result for test <%= @test_passage.test.title %> is not found, you forget to passed test.</h1>
<% end %>

<%= link_to 'Back to tests', tests_path %>
