<h2><%= @test.title %></h2>
<h3>Category: <%= @test.category.title %>
<h3>Level: <%= @test.level %></h3>

<%= link_to 'Create new question for this test', new_test_question_url(@test) %>

<table>
  <thead>
    <th>Question</th>
    <th colspan="3">Actions</th>
  </thead>

  <%= render @test.questions %>

</table>

<%= link_to 'Edit', edit_admin_tests_path(@test) %>
<%= link_to 'Back', admin_tests_path %>